{% load daisyui_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div id="div_{{ field.auto_id }}" class="form-control {% if wrapper_class %} {{ wrapper_class }}{% endif %}">
            <label for="{{ field.id_for_label }}" class="label cursor-pointer justify-start gap-2">
                {% daisyui_field field %}
                <span class="label-text {% if field.field.required %} font-bold{% endif %}">{{ field.label|safe }}</span>
            </label>
        </div>
    {% else %}
        <div id="div_{{ field.auto_id }}" class="form-control {% if wrapper_class %} {{ wrapper_class }}{% endif %}">
            <label for="{{ field.id_for_label }}" class="sr-only{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}
            </label>
            {% daisyui_field field 'placeholder' field.label %}
        </div>
    {% endif %}
{% endif %}
