{% load crispy_forms_filters %}
{% load daisyui_filters %}
{% load l10n %}

<select class="select select-bordered w-full {% if field.errors %}select-error{% endif %}" name="{{ field.html_name }}" {{ field|build_attrs }}>
    {% for group, options, index in field|optgroups %}
        {% if group %}<optgroup label="{{ group }}">{% endif %}
        {% for option in options %}
            {% include "daisyui/layout/select_option.html" %}
        {% endfor %}
        {% if group %}</optgroup>{% endif %}
    {% endfor %}
</select>
